<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>

        .title {
            text-align: center;
            font-size: 100px;
            color: #ffffff;
            margin-top: 200px;
            font-family: 'Brush Script MT', cursive;
            text-shadow: 2px 2px 5px #333;
            letter-spacing: 2px;
        }

        .subtitle {
            text-align: center;
            font-size: 15px;
            color: #d3c4c4;
            margin-top: 2px;
            font-family: Georgia, serif;
        }

    </style>
</head>
<body>
<div layout:fragment="content">

    <h1 class="title">CLASSICO</h1>

    <p class="subtitle">Managing the number 1 international food restaurant</p>
</div>
</body>
</html>
